.cate_content{
    width: 100%;
    height: 100%;
    display: flex;
    .cate_left{
        width: 30%;
        height: 100%;
        //background: red;
        overflow-y: auto;

        .ion-label{
            font-size: 14px;
        }
    }

    .cate_right{
        height: 100%;
        flex: 1;
       // background: blue;
        overflow-y: auto;

        .ion-label{
            font-size: 14px;
        }

        .col{
            border: 0.5px solid #eee;
            p{
                text-align: center;
            }
        }
    }

}
