.mobile_input_div{
    width: 90%;
    height: 44px;
    border:1px solid gray;
   // display: flex;
    //padding: 5px 0px 5px 5px ;
    margin: 15px 15px 15px 15px ;
    .countrycode{
       // display: inline;
       width: 30px;
       // height: 42px;
       float: left;
       text-align: right;
    }
    .mobile_input{
       // display: inline;
        width: auto;
        float: left;
        //height: 42px;
       // flex: 1;
    }
}

.next{
    width: 90%;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}

.ask{
    color: gray;
    margin-left: 15px;
    .contact{
        color: black;
    }
}