.address_list{
    h2{
        display: flex;
        .name{
           width: 100px;
        }

        .tel{
            flex: 1;
        }
    }
}

.footer{
    text-align: center;
    .addButton{
        width: 90%;
    }
}