
.pass_list{
   // background:red;
.pass_input{
    border: 1px gray solid;
    text-indent: 5px;
    height: 44px;
    width: 90%;
    margin-top: 10px;
    border-radius: 5px;
    //background: rgb(248, 247, 243);
}

.checkbox_label{
    margin-left: 0px;
}

.tips{
    display:inline-block;
    width:90%;
    word-wrap:break-word;
    white-space:normal;
    color:grey;
    font-size: 14px;
    text-indent: 5px;
}

.tips_error{
    margin-left: 0px;
}

.item.item-md .checkbox-md {
    margin: 9px 5px 9px 4px;
}

.checkbox_item{
   min-height: 30px;
   height: 36px;
}

}

.complete_button{
    width: 90%;
    height: 44px;
    margin-top: 0px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    color: gray;
}
